extends layouts/_default

block main
  section.corner.job-detail
    a(href='#').close-job-detail x
    h2
    p
    button.postuler Postuler
  each job in jobs
    section.job-list.active
      article.corner.front
        h2 #{job.name}
      article.corner.back
        each tag in job.tags
          span #{tag}
        h3 #{job.name}
        p.hidden #{job.description}
        button(data-name='#{job.name}', data-description='#{job.description}') +
